<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592603934040-g8rd2q26lf8jgg27b4obul5ciujn5qip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592603934040-g8rd2q26lf8jgg27b4obul5ciujn5qip</string>
	<key>API_KEY</key>
	<string>AIzaSyAPZbtmK6U_Zrs27R2EUMy0Lxmran16bSo</string>
	<key>GCM_SENDER_ID</key>
	<string>592603934040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemax</string>
	<key>PROJECT_ID</key>
	<string>tickets-678e1</string>
	<key>STORAGE_BUCKET</key>
	<string>tickets-678e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592603934040:ios:4f7a3a443f7a7069a9492d</string>
</dict>
</plist>